*{
   margin: 0   ;
}
.containerTopo{
height: 300px;
background-image: url("https://wallpapers.com/images/hd/hacker-detectado-por-virus-em-full-hd-wzs4a5f59okzbkde.jpg");
margin: 0 auto;

}

.imagemLogotipo{
 height: 300px;
 width: 300px;
 position: relative;
 left: 238px;
float: left;
background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20221206/pngtree-red-sale-luxury-gradient-geometric-light-image_1494214.jpg");
border: solid 5px #1b1919 
}

.menuTop{
    height: 100px;
    width: 685px;
    border: solid 5px #1b1919;
    position: relative;
    left: 700px;
    top:90px;  
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20221206/pngtree-red-sale-luxury-gradient-geometric-light-image_1494214.jpg");
   padding-top: 50px;
   padding-right: 100px;
  
   
    
    
 }
 .estiloIntroducao{
    font-family: fantasy;
    text-align: center;
    font-size: 80px;

 }
 
.containerMeio{
   height: 150px;
   background-image:url("https://png.pngtree.com/thumb_back/fh260/background/20221206/pngtree-red-sale-luxury-gradient-geometric-light-image_1494214.jpg") ;
   margin-top: 50px;
   width: 1250px;
   margin: 0 auto;
   margin-top: 50px;
   padding-top: 75px;
   border: solid 5px #1b1919 
   
   
   
}

.imagemFundo{
   background-image: url("https://wallpapers.com/images/hd/hacker-detectado-por-virus-em-full-hd-wzs4a5f59okzbkde.jpg");
}

.estiloIntroducao{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 50px;
}

.caixaTextoMeio1{
   width: 1250px;
   margin: 0 auto;
   height: 500px;
   border: solid 5px #1b1919;
   background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20221206/pngtree-red-sale-luxury-gradient-geometric-light-image_1494214.jpg");

}
.estiloSeta1{
   height: 200px;
   width: 200px;
}

.subcaixaTextoMeio1{
   width: 1060px;
   margin: 0 auto;
   height: 200px;
   position: relative;
   bottom: 200px;
   left: 90px;
   padding-top: 60px;
}

.estiloTextoAP{
   font-size: 30px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.estiloSeta2{
   height: 200px;
   width: 200px;
   position: relative;
   bottom: 200px;
}

.subcaixaTextoMeio2{
   width: 1060px;
   margin: 0 auto;
   height: 150px;
   position: relative;
   bottom: 380px;
   left: 90px;
   padding-top: 40px;
  
   
   
}
.botaoSaiba{
   height: 100px;
   width: 500px;
   background-color: orange;
   margin: 0 auto;
}

  